<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rere">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rere"
        tools:targetApi="31">

        <!-- ✅ Make sure your launcher activity has a visible layout -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.Rere"> <!-- Optional, ensures content displays quickly -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ Declare all your other activities normally -->
        <activity android:name=".HomePageActivity" />
        <activity android:name=".AddMedicationActivity" />
        <activity android:name=".RemoveMedicationActivity" />
        <activity android:name=".SleepTrackerActivity" />
        <activity android:name=".AppointmentTrackerActivity" />
        <activity android:name=".TherapyActivity" />

    </application>
</manifest>
